body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.song-list {
  width: 30%;
  background: #181818;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.song-list::-webkit-scrollbar {
  display: none;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.song img {
  width: 50px;
  margin-right: 10px;
}

.song.active {
  background: #1db954;
  color: black;
}

.player {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(images/bg.jpg);
  
}

.player img {
  width: 400px;
  border-radius: 10px;
}

.controls button {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
}

.progress-container {
  display: flex;
  align-items: center;
  width: 60%;
}

#progress {
  flex: 1;
  margin: 0 10px;
}

@media(max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .song-list, .player {
    width: 100%;
  }
}
